.container-element {
    min-height: calc(100vh - 25px - 40px - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
}